body{
    background-color: $color-01;
}
header{
    max-width: 100vw;
    background-image: linear-gradient(to bottom, $color-04, $color-01);
    padding: $pad;
    p{
        color: white;
        font-size: 4rem;
        text-align: center;
        font-weight: bold;
        text-shadow: 4px 4px #132b806e;
    }
}
article{
    max-width: 1400px;
}
main{
    max-width: 1200px;
    margin: 1px auto;
}
footer{
    max-width: 100vw;
    background-image: linear-gradient(to bottom, $color-01, $color-04);
    padding: $pad;
    margin-top: $pad;
    p{
        font-size: $font-normal;
        text-align: center;
        color: white;
        a{
            text-decoration: none;
            color: white;
        }
        a:hover{
            text-decoration: underline;
            color: $color-04;
        }
    }
}