header{
    max-width: 1400px;
    margin: auto;
    height: auto;
    margin-bottom: 40px;
    #header{
        display: flex;
        justify-content: space-between;
        max-width: 1500px;
        margin: auto;
        height: 10vh;
        color: white;
        font-family: sans-serif;
        &__left{
            font-family: $font;
            margin: auto 10px;
            font-size: 1.7rem;
            text-shadow: 2px 2px $color-01;
            span{
                font-size: 2.2rem;
                color: $color-01;
                text-shadow: 1px 1px white;
            }
        }
        &__right{
            max-width: 500px;
            display: flex;
            cursor: pointer;
            .header__right--btn{
                margin: auto;
                list-style: none;
                padding: 4px 20px;
                font-size: $font-small;
            }
        }
    }  
}