footer{
  max-width: 100vw;
  padding: 3rem;
  p{
      font-size: $font-normal;
      text-align: center;
      color: white;
      a{
          text-decoration: underline;
          color: white;
      }
      a:hover{
          color: $color-03;
      }
  }
}