@media (max-width: 1200px) {
    
    .header__button {
        font-size: 1.8rem;
    }
}

@media (max-width: 800px) {
    header #header__logo {
        font-size: 2.8rem;
    }

    .header__button {
        font-size: 1.6rem;
    }
}

@media (max-width: 500px) {
    
    header #header__logo {
        font-size: 2.5rem;
    }

    .header__button {
        font-size: 1.4rem;
    }
}

@media (max-width: 400px) {
    
    header #header__logo {
        font-size: 2.2rem;
    }

    .header__button {
        font-size: 1.1rem;
    }
}