$color-01: #FDDB78;
$color-02: #3046B0;
$font-bigger: 4rem;
$font-big: 3rem;
$font-normal: 2rem;
$font-small: 1.5rem;
$font-smaller: 1rem;
$vw-01: 100vw;
$vw-02: 50vw;
$r1: 1rem;
$r2: 2rem;
$r3: 3rem;
$font:'Berkshire Swash', cursive;
