.destack {
    margin: auto;
    position: relative;
    &__title {
        color: $color-04;
        float: left;
        font-size: $font-big;
        margin-top: 0;
    }
    &__subtitle {
        float: left;
        font-size: $font-small;
        margin-left: $space-default;
        margin-top: $mt;
        text-shadow: 1px 1px #021527;
        
    }
    &__image {
        width: 100%;
        height: auto;
        margin: $space-default auto;

    }
    &__description {
        font-size: $font-normal;
        font-weight: bold;
        text-shadow: 1px 1px black;
        color: $color-03;
        padding: $pad;
        position: absolute;
        left: 10px;  
        bottom: 0;  
        @media (max-width: 628px) {
            font-size: 1rem ;
        }
    }
}